# loading

In [85]:
import numpy as np
import pandas as pd

In [86]:
df = pd.read_csv('w_1_pa.csv')

In [87]:
df.sample(3)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Month,WeekDay,Day
6829,Vistara,Kolkata,Cochin,CCU → DEL → BLR,02:15,22:40,16h 45m,1 stop,In-flight meal not included,8452,5,Saturday,18.0
9167,Jet Airways,Kolkata,Cochin,CCU → BOM → BLR,13:25,19:50 07 Jun,23h 10m,1 stop,No info,14571,5,Thursday,9.0
3089,Jet Airways,Kolkata,Banglore,CCU → DEL → BLR,09:35,19:10,9h 35m,1 stop,In-flight meal not included,10539,6,Wednesday,12.0

In [88]:
df.shape

(9450, 13)

In [89]:
df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time',
       'Duration', 'Total_Stops', 'Additional_Info', 'Price', 'Month',
       'WeekDay', 'Day'],
      dtype='object')

In [90]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')
df.columns

Index(['airline', 'source', 'destination', 'route', 'dep_time', 'arrival_time',
       'duration', 'total_stops', 'additional_info', 'price', 'month',
       'weekday', 'day'],
      dtype='object')

In [91]:
df.describe()

              price        month          day
count   9450.000000  9450.000000  9214.000000
mean    9027.895556     4.718730    13.517582
std     4466.677471     1.162725     8.459792
min     1759.000000     3.000000     1.000000
25%     5198.000000     3.000000     6.000000
50%     8366.000000     5.000000    12.000000
75%    12373.000000     6.000000    21.000000
max    57209.000000     6.000000    27.000000

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9450 entries, 0 to 9449
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          9450 non-null   object
 1   source           9450 non-null   object
 2   destination      9450 non-null   object
 3   route            9449 non-null   object
 4   dep_time         9450 non-null   object
 5   arrival_time     9450 non-null   object
 6   duration         9450 non-null   object
 7   total_stops      9250 non-null   object
 8   additional_info  9450 non-null   object
 9   price            9450 non-null   int64
 10  month            9450 non-null   int64
 11  weekday          9450 non-null   object
 12  day              9214 non-null   float64
dtypes: float64(1), int64(2), object(10)
memory usage: 959.9+ KB

# 7

Encode the values of column 'WeekDay' as follows:
Weekends (Sunday, Saturday) = 1
all remaining five days = 0
What is the most frequent (mode) WeekDay?

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9450 entries, 0 to 9449
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          9450 non-null   object
 1   source           9450 non-null   object
 2   destination      9450 non-null   object
 3   route            9449 non-null   object
 4   dep_time         9450 non-null   object
 5   arrival_time     9450 non-null   object
 6   duration         9450 non-null   object
 7   total_stops      9250 non-null   object
 8   additional_info  9450 non-null   object
 9   price            9450 non-null   int64
 10  month            9450 non-null   int64
 11  weekday          9450 non-null   object
 12  day              9214 non-null   float64
 13  weekend          9450 non-null   bool
 14  hours            9450 non-null   int64
 15  minutes          9450 non-null   int64
 16  duration_in_sec  9450 non-null   int64
 17  hour_of_dep      9450 non-null   int64
 18  hour_of_arr      9450 non-null   int64
 19  cat_of_dep       9450 non-null   category
 20  cat_of_arr       9450 non-null   category
dtypes: bool(1), category(2), float64(1), int64(7), object(10)
memory usage: 1.3+ MB

In [112]:
df['weekend'] = df['weekend'] * 1
df[['weekday', 'weekend']].sample(5)

        weekday  weekend
8221     Monday        0
1901   Thursday        0
2099   Thursday        0
1394  Wednesday        0
3860  Wednesday        0

In [113]:
df['weekend'].value_counts()

weekend
0    6651
1    2799
Name: count, dtype: int64

# 6

Apply the following functions to the columns Dep_Time and Arrival_Time:

Transform the values in the 'dep_time' and 'arrival_time' columns to represent the hour component. For instance, if an entry is 10:05 June 13 or 10:05, the corresponding value should be 10.

Then convert the time into four categories as follows:
$$
5 <= hour < 12 = Morning \\
12 <= hour < 17 = Afternoon \\
17 <= hour < 20 = Evening \\
20 <= hour < 5 = Night
$$

Note: Please ensure that you make the changes directly within the dataset and continue to use that modified dataset for subsequent questions.

How many flights started in the Morning and arrived the destination at Evening?

In [107]:
df['hour_of_dep'] = df['dep_time'].str.extract(r'(\d+):').astype(int)
df['hour_of_arr'] = df['arrival_time'].str.extract(r'(\d+):').astype(int)

In [108]:
df[['dep_time', 'hour_of_dep', 'arrival_time', 'hour_of_arr']].sample(5)

     dep_time  hour_of_dep  arrival_time  hour_of_arr
1289    21:05           21  00:20 10 Jun            0
3236    14:40           14         17:50           17
121     05:55            5         19:15           19
4990    10:00           10  01:20 07 May            1
220     06:55            6         09:35            9

In [109]:
bins = [0, 5, 12, 17, 20, 24]
labels = ['Night', 'Morning', 'Afternoon', 'Evening', 'Night']
df['cat_of_dep'] = pd.cut(
    df['hour_of_dep'],
    bins=bins,
    labels=labels,
    right=False,
    include_lowest=True,
    ordered=False
)
df['cat_of_arr'] = pd.cut(
    df['hour_of_arr'],
    bins=bins,
    labels=labels,
    right=False,
    include_lowest=True,
    ordered=False
)
df[['hour_of_dep', 'cat_of_dep', 'hour_of_arr', 'cat_of_arr']].sample(5)

      hour_of_dep cat_of_dep  hour_of_arr cat_of_arr
1624            6    Morning            9    Morning
3542            7    Morning            0      Night
5741            9    Morning           12  Afternoon
4821            6    Morning            4      Night
9174            9    Morning           23      Night

In [110]:
df[(df['cat_of_dep'] == 'Morning') & (df['cat_of_arr'] == 'Evening')].shape[0]

922

# 5

Convert the values of 'Duration' into seconds. Enter the average duration (in seconds) of a flight. Enter your answer correct to two decimal places.

In [103]:
df[~df['duration'].str.contains('h')].shape

(1, 14)

In [104]:
df[~df['duration'].str.contains('h')].shape

(1, 14)

In [105]:
import re

df['hours'] = df['duration'].str.extract(r'(\d+)h').fillna('0').astype(int)
df['minutes'] = df['duration'].str.extract(r'(\d+)m').fillna('0').astype(int)
df[['duration', 'hours', 'minutes']].sample(5)

     duration  hours  minutes
1468   2h 35m      2       35
6013  14h 35m     14       35
9292  15h 10m     15       10
3855    7h 5m      7        5
7527  10h 25m     10       25

In [106]:
df['duration_in_sec'] = df['hours'] * 3600 + df['minutes'] * 60
df['duration_in_sec'].mean()

np.float64(38957.93650793651)

# 4

Two of the entries in the 'Additional_Info' column are 'No info' and 'No Info'. Replace all occurrences of 'No Info' with 'No info'. How many flights fall under airline 'IndiGo' and have 'No info' as additional information?

In [97]:
df[df['additional_info'] == 'No Info'].shape

(3, 14)

In [98]:
df[df['additional_info'] == 'No info'].shape

(7375, 14)

In [99]:
df[df['additional_info'] == ''].shape

(0, 14)

In [100]:
df[df['additional_info'].str.strip() == ''].shape

(0, 14)

In [101]:
df.loc[df['additional_info'] == 'No Info', 'additional_info'] = 'No info'
df[df['additional_info'] == 'No Info'].shape, df[df['additional_info'] == 'No info'].shape

((0, 14), (7378, 14))

In [102]:
df[(df['airline'] == 'IndiGo') & (df['additional_info'] == 'No info')].shape[0]

1650

# 3

Is the average price of flight tickets higher on weekends (Saturday and Sunday) or on weekdays (Remaining 5 days)?

In [95]:
df['weekend'] = df['weekday'].isin(['Saturday', 'Sunday'])
avg_price_weekend = df[df['weekend']]['price'].mean()
avg_price_weekday = df[~df['weekend']]['price'].mean()
avg_price_weekday, avg_price_weekend

(np.float64(9015.219666215608), np.float64(9058.016077170418))

In [96]:
avg_price_weekday < avg_price_weekend

np.True_

# 2

During which month did the highest number of flights occur? Months are represented by numerical codes, with January corresponding to 1, February to 2, and so forth.

In [94]:
group_by_month = df.groupby('month')['price'].count().reset_index()
max_no = group_by_month['price'].max()
group_by_month[group_by_month['price'] == max_no]['month']

2    5
Name: month, dtype: int64

# 1

What is the average of the flight ticket price? Write your answer correct to two decimal places.

In [93]:
df['price'].mean()

np.float64(9027.895555555555)

# downloading

In [114]:
df.to_csv('w_1_pa_after.csv')